{% extends 'base.html' %} {% block content %} 
<h1 class = 'title'>{{header}}</h1>

<form class='form-control-sm' method='get'>
    <div class='form-floating'>
        <input class='input' type='text' name='title' placeholder='title' />
        <input class='btn-success' type='submit' value='search' />
    </div>
    <a class='btn-dark' href="{% url 'home' %}">Clear Search</a>
</form>
<div class="track_list">
    {% for track in tracks %} 
    <div class="card m-3">
        <a href = "{% url 'track_detail' track.pk %}">
            <div class="card-img-top">
                <div class='thumbnail'>
                    <img src="{{track.cover}}" alt="{{track.name}}" />
                </div>
            </div>
        <div class='card-header'>{{track.title}}</div>
        </a>
        <h6 class='card-subtitle'>{{track.user}}</h6>
        </div>
    {% empty %} 
    <div class="card">
        <div class='card-header'>
            <p>No Tracks Available</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}