{% extends 'base.html' %} {% block content %} 

<body class="splash">
    <div class="splash-header top-25 position-absolute">
        <h1 class="font-weight-bold text-capitalize">Melodic Mercenary</h1>
    </div>
        <img class="img-fluid d-lg-block d-none end-0 bottom-0 w-50 position-absolute" style="height: 94%;" src="https://i.imgur.com/LEu4BCC.jpg">


        <div class="card bg-dark top-50 position-absolute w-50">
            <div class="card-header">
                <h2 class="font-weight-bold text-capitalize">We here at Melodic Mercenary believe that music should be easily accessible, archived, and not locked behind a subscription service. Feel free to come here, tell everyone how you feel about the new album from that band you like, or (eventually) post your own music! Melodic Mercenary; Music for the people, by the people.</h2>
            </div>
        </div>

</body>


{% endblock %}